@charset "utf-8";

//------ 変数を設定するファイル ------

// font-family
$FONT_FAMILY: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, Arial, sans-serif;
$FONT_FAMILY_ENG: Osaka, Arial, sans-serif;

// font-size
$FONT_SIZE_4L: 34px;
$FONT_SIZE_3L: 28px;
$FONT_SIZE_2L: 24px;
$FONT_SIZE_L: 20px;
$FONT_SIZE_M: 16px;
$FONT_SIZE_S: 14px;
$FONT_SIZE_2S: 13px;
$FONT_SIZE_3S: 12px;
$FONT_SIZE_4S: 11px;
$FONT_SIZE_5S: 10px;
$FONT_SIZE_ZERO: 0px;

// line-height
$LINE_HEIGHT_L: 2.4;
$LINE_HEIGHT_M: 1.6;
$LINE_HEIGHT_S: 1.4;
$LINE_HEIGHT_NONE: 1;

// width
$WIDTH_WRAPPER: 950px;
$WIDTH_CONTENT: 930px;
$WIDTH_BREAKPOINT: 920px;
$WIDTH_MAIN: 630px;
$WIDTH_SP_MIN: 320px;
$WIDTH_SP_MAX: 400px;
$WIDTH_ASIDE: 220px;

// border
$BORDER_RADIUS: 4px;
$INNER_BORDER_RADIUS: 3px;

//--- background-color
// 背景色：標準
$CLR_BG: #f5f5f5;

// 背景色：反転
$CLR_BG_REVERSE: #333;

// 背景色：ナビ
$CLR_BG_NAV: #555;
$CLR_BG_NAV_HOVER: #888;
$CLR_BG_NAV_CURRENT: #eee;

// 背景色：強調
$CLR_BG_EM: #e2c147;

//--- color
// 文字色：標準
$CLR_TXT: #332525;

// 文字色：リンク
$CLR_TXT_LINK: #9e00b3;
$CLR_TXT_HOVER: #fe80ff;

// 文字色：強調
$CLR_EMPH: #736565;

// 文字色：反転
$CLR_TXT_REVERSE: #fff;

// 文字色：注記
$CLR_TXT_NOTE: #707070;

// 文字色：アイコン
$CLR_TXT_ICON: $CLR_TXT_LINK;
$CLR_TXT_ICON_HOVER: $CLR_TXT_HOVER;

// outline
$OUTLINE_CLR: #ffcc60;
$OUTLINE_STYLE: auto;
$OUTLINE_WIDTH: 7px;
$OUTLINE_OFFSET: 0;
$OUTLINE_BG_CLR: #ffecd0;
