@charset "utf-8";

// header
.header {
  position: relative;
  padding: 10px 0;
  text-align: center;
  background-color: $CLR_BG_REVERSE;
  color: $CLR_TXT_REVERSE;

  .header-content {
    padding: 0 30px;
    font-size: $FONT_SIZE_S;
  }
}

// header-side-nav
.header-side-nav {
  position: absolute;
  left: 10px;
  top: 29%;
  width: 18px;
  height: 17px;

  #{&}__icon {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 18px;
    height: 15px;
    border-width: 1px 0 1px;
    border-style: solid;
    border-color: #fff;
    cursor: pointer;

    &::before {
      content: "(サイドメニュー)";
      position: absolute;
      display: block;
      margin: auto 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid #fff;
      overflow: hidden;
      white-space: nowrap;
      text-indent: 1em;
    }
  }

  #{&}__toggle {
    display: none;
  }

  #{&}__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;
    max-width: 380px;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    text-align: left;
    transition: 0.2s ease-in-out;
    transform: translateX(-105%);

    > ul {
      padding: 20px;
    }
  }

  #{&}__close {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #{&}__toggle {
    &:checked ~ .header-side-nav__nav {
      transform: translateX(0%);
    }

    &:checked ~ .header-side-nav__close {
      display: block;
    }
  }
}

// header-global-nav
.header-global-nav {
  margin-bottom: 10px;

  > ul {
    font-size: $FONT_SIZE_ZERO;
  }

  #{&}__item {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    border-left: 1px solid #fff;

    &:first-child {
      border-left: none;
    }
  }

  #{&}__anchor {
    display: block;
    padding: 6px 0;
    font-size: $FONT_SIZE_3S;
    text-align: center;
    text-decoration: none;
    background-color: $CLR_BG_NAV;
    color: $CLR_TXT_REVERSE;

    &:active,
    &:hover {
      background-color: $CLR_BG_NAV_HOVER;
    }

    &.is-current {
      background-color: $CLR_BG_NAV_CURRENT;
      color: $CLR_TXT;
      font-weight: bold;
    }
  }
}

// header-breadcrumb
.header-breadcrumb {
  margin-bottom: 15px;
  padding: 0 10px;

  > ol {
    font-size: $FONT_SIZE_ZERO;
  }

  .header-breadcrumb__item {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    margin-right: 4px;

    &::before {
      content: "";
      position: absolute;
      margin: auto 0;
      left: -12px;
      top: 0;
      bottom: 0;
      width: 5px;
      height: 5px;
      border-top: 1px solid $CLR_EMPH;
      border-right: 1px solid $CLR_EMPH;
      transform: rotate(45deg);
    }

    &:first-child {
      margin-left: 0;
      &::before {
        content: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .header-breadcrumb__anchor {
    display: inline-block;
    font-size: $FONT_SIZE_4S;
    min-height: 30px;
    line-height: 30px;
  }
}
