@charset "utf-8";

// header
.header {
  position: relative;
  text-align: center;
  background-color: $CLR_BG_REVERSE;
  color: $CLR_TXT_REVERSE;

  .header-content {
    display: flex;
    padding: 0 50px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    font-size: $FONT_SIZE_3S;
    font-size: $FONT_SIZE_S;
  }
}

// header-side-nav
.header-side-nav {
  position: absolute;
  left: 0;
  top: 0;

  #{&}__icon {
    display: block;
    width: 44px;
    height: 44px;
    cursor: pointer;

    > span {
      position: absolute;
      display: block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 20px;
      height: 16px;
      box-sizing: content-box;
      border-width: 1px 0 1px;
      border-style: solid;
      border-color: #fff;

      &::before {
        content: "(サイドメニュー)";
        position: absolute;
        display: block;
        margin: auto 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        border-top: 1px solid #fff;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 1em;
      }
    }
  }

  #{&}__toggle {
    display: none;
  }

  #{&}__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 85%;
    min-width: 240px;
    max-width: 380px;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    text-align: left;
    transition: 0.2s ease-in-out;
    transform: translateX(-105%);

    > ul {
      margin-bottom: 20px;
    }
  }

  #{&}__item {
    border-top: 1px solid #fff;

    &:first-child {
      border-top: none;
    }
  }

  #{&}__anchor {
    display: block;
    padding: 10px 20px;
    font-size: $FONT_SIZE_2S;
    font-weight: bold;
    text-decoration: none;
    color: $CLR_TXT;
    background-color: #eee;

    &:active,
    &:hover {
      background-color: $CLR_BG_NAV_HOVER;
      color: $CLR_TXT_REVERSE;
    }

    &.is-current {
      background-color: $CLR_BG_NAV_HOVER;
      color: $CLR_TXT_REVERSE;
      font-weight: bold;
    }
  }

  #{&}__close {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #{&}__toggle {
    &:checked ~ .header-side-nav__nav {
      transform: translateX(0%);
    }

    &:checked ~ .header-side-nav__close {
      display: block;
    }
  }
}

// header-global-nav
.header-global-nav {
  margin-bottom: 5px;

  > ul {
    font-size: $FONT_SIZE_ZERO;
  }

  #{&}__item {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    border-left: 1px solid #fff;
    vertical-align: top;

    &:first-child {
      border-left: none;
    }
  }

  #{&}__anchor {
    display: flex;
    box-sizing: content-box;
    padding: 0 4px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    font-size: $FONT_SIZE_3S;
    line-height: $LINE_HEIGHT_2S;
    text-decoration: none;
    background-color: $CLR_BG_NAV;
    color: $CLR_TXT_REVERSE;

    &:active,
    &:hover {
      background-color: $CLR_BG_NAV_HOVER;
    }

    &.is-current {
      background-color: $CLR_BG_NAV_CURRENT;
      color: $CLR_TXT;
      font-weight: bold;
    }
  }
}

// header-breadcrumb
.header-breadcrumb {
  margin-bottom: 10px;
  padding: 0 10px;

  > ol {
    font-size: $FONT_SIZE_ZERO;
  }

  .header-breadcrumb__item {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    margin-right: 4px;

    &::before {
      content: "";
      position: absolute;
      margin: auto 0;
      left: -12px;
      top: 0;
      bottom: 0;
      width: 5px;
      height: 5px;
      border-top: 1px solid $CLR_EMPH;
      border-right: 1px solid $CLR_EMPH;
      transform: rotate(45deg);
    }

    &:first-child {
      margin-left: 0;
      &::before {
        content: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .header-breadcrumb__anchor {
    display: inline-block;
    font-size: $FONT_SIZE_4S;
    min-height: 34px;
    line-height: 34px;
  }
}
