doctype html
html(lang='ja')
  include ../include/head
  body
    include ../include/header_skip_link
    include ../include/header
    block body
    include ../include/footer

    // js
    include ../include/footer_js
