doctype html
html(lang='ja')
  include ../include/head
  body

    // skip link
    include ../include/header_skip_link

    // header
    include ../include/header

    // header navigation
    include ../include/header_nav

    // main
    block body

    // footer
    include ../include/footer

    // js
    include ../include/footer_js
