extend ../layout/default

block body
  main.main#link-main
    h1.h1 main h1 メインメイン h1 メインメイン h1
    ul.item
      for data in list
        li
          h2.h2.h2-list= data.title
          if data.current!=''
            p
              a.icon_link(href=data.link, target=data.target)= data.text
          else
            p
              a.icon_link(href=data.link)= data.text
    h2.h2 サブタイトルサブタイトル
    .img
      a(href="#DUMMY")
        img(src="img/sample01.jpg", alt="バーの内装の写真")
    h2.h2 テキストが含まれる画像 （画像化されたテキスト）
    .img
      img(src="img/sample02.png", alt="テキストが含まれる画像")
    h2.h2 サブタイトルサブタイトル
    p.text テキストテキストテキストテキストテキスト
    h3.h3 小タイトル小タイトル小タイトル
    p.text テキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h3.h3 小タイトル小タイトル小タイトル
    p.text
      |テキストテキストテキストテキストテキストテキスト
      a.icon_link(href="#DUMMY") テキストテキストテキストテキスト
      |テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      a.icon_link(href="https://DUMMY", target="_blank") テキストテキストテキストテキストテキストテキスト
      |テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      br
      |テキスト
      br
      a.icon_link(href="https://DUMMY", target="_blank") テキスト
      br
      |テキスト
      br
      |テキスト
      br
      a.icon_link(href="#DUMMY") テキスト
      br
      |テキスト
      br
      |テキスト
    h2.h2 サブタイトルサブタイトル
    p.text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    h3.h3 小タイトル小タイトル小タイトル
    p.text
      |テキストテキストテキスト
      a.icon_link(href="#DUMMY") テキストテキスト
      |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
