extend ../layout/default

block body
  .wrapper#link-main
    h1.h1 body h1 body h1
    ul.item
      for data in list
        li
          h2.h2= data.title
          p
            a(href=data.link)= data.text
    .img
      a(href="#DUMMY", aria-label="サンプル")
        img(src="img/sample.jpg", alt="")
    p.text
      |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      a(href="#DUMMY") テキストテキストテキスト
      |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
